*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0 !important;
}

.map-container{
  position: relative;
}


.btn {
  background: none;
  color: inherit;
  font: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 2;
  border-radius: 20px;
}

.btn-glow {
  background-color: blue;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 16px 16px;
  box-shadow: 0 0 0 0 blue;
  animation: glow 1.4s linear infinite;
}

@keyframes glow {
  0% {
    box-shadow: 0 0 0 0 blue;
  }
  
  50% {
    box-shadow: 0 0 30px 0 blue;
  }
}